<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Fayer Consulting</title>

    <link rel="stylesheet" type="text/css" href="../CSS/Body.css" />

</head>
<body>
    <div class="containers">
        <div class="logo">

            <div class="text">
                <img class="imgLogo" src="../../Img/Fayer_Logo.jpg">
                <!--
                <h2>
                    Fayer Consulting GmbH
                </h2>-->
            </div>
        </div>
        <div class="navigation">
            <ul>
                <li><a href="Home.html">Home</a></li>
                <li><a href="Candidates.html">Bewerber</a></li>
                <li><a href="Company.html">Unternehmen</a></li>
                <li><a href="About.html">Ueber uns</a></li>
                <li><a href="Contact.html">Konatkt</a></li>
            </ul>
        </div>

        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->

        <div class="imgMain">
            <img class="backgroundimg" src="../../Img/Background image.jpg" />

        </div>
        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->

        <div class="main text description">
            <!--<h2>
        Fayer Consulting ist auf ihre Bedürfnisse und Ziele ausgerichtet.
    </h2>-->
            <h3>
                Sind Sie auf der Suche nach Ihrer Traumposition sind ?
            </h3>
            <button class="tabButton" type="button"><a class="onButtonLink" href="Contact.html">Lebenslauf Hochladen</a></button>
        </div>
        <div class="main description5 description">
            <img class="testicon righticon" src="../../Img/job_ganz_einfach.jpg" />
            <h3>
                Jobs ganz einfach online finden
            </h3>
            <p class="leftp">
                Hier finden Sie die passende Position! Durch unser Netzwerk sind wir in der kompletten Deutschsprachigen Schweiz präsent und finden ihnen Positionen bei attraktiven unternehmen in ihrer Nähe. <br />
                Auf unserer Website werden alle Positionen publiziert, lassen Sie sich inspirieren!
            </p>

        </div>
        <div class="main description6 description">

            <img class="testicon lefticon" src="../../Img/ein_klick.jpg" />
            <h3>
                Ein Klick genügt!
            </h3>
            <p class="rightp">
                Auf unseren präsentierten Positionen war keine passende für Sie dabei? Keine Sorge, bewerben Sie sich einfach über unser Online Formular initiativ bei uns.
                Wir melden uns schnellstmöglich für ein Gespräch und mit passenden Stellenangeboten bei Ihnen.
            </p>
        </div>

        <div class="main description7 description">
            <img class="testicon righticon" src="../../Img/persoenlichkeit.jpg" />
            <h3>
                Die Persönlichkeit zählt!
            </h3>
            <p class="leftp">
                Lebenslauf und Zeugnisse ersetzen kein persönliches Gespräch, deshalb laden wir Sie gerne zu uns ein! Ihre persönlichen Bedürfnisse,
                Ihre Individualität sowie Ihre Karriereziele stehen hierbei im Mittelpunkt. Wir möchten für Sie die passgenaue Position finden,
                in welcher Sie sich entfalten können und wohlfühlen.
            </p>

        </div>

        <div class="main description8 description">

            <img class="testicon lefticon" src="../../Img/effizient_persoenlich.jpg" />
            <h3>
                Effizient und persönlich zur perfekten Position
            </h3>
            <p class="rightp">
                Wir helfen Ihn nicht nur bei der Stellensuche, unsere Berater begleiten Sie gerne weiterhin auf Ihrem beruflichen Pfad.
                Unsere Beratung, Betreuung und die Vermittlung, sind für Sie als Bewerber zu jedem Zeitpunkt kostenlos!
            </p>
        </div>
        </div>
        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
        <footer class="footer-distributed">
            <div class="footer-left">
                <div>
                    <img class="imgLogo" src="../../Img/Fayer_Logo.jpg" />
                </div>

                <p class="footer-links">
                    <a href="#" class="link-1">Home</a>
                    <a href="Candidates.html">Bewerber</a>
                    <a href="Company.html">Unternehmen</a>
                    <a href="About.html">Über uns</a>
                    <a href="Contact.html">Kontakt</a>
                </p>

                <p class="footer-company-name">© 2020 Fayer Consulting GmbH. All Rights Reserved.</p>
            </div>

            <div class="footer-center">
                <div>
                    <i class="map"><img src="../../Img/maps.svg" /></i>
                    <p><span>Adresse strasse und nummer</span> Männedorf, Zürich</p>
                </div>

                <div>
                    <i class="phone"><img src="../../Img/phone.svg" /></i>
                    <p>+41xx xxx xx xx</p>
                </div>

                <div>
                    <i class="mail"><img src="../../Img/mail.svg" /></i>
                    <p><a href="mailto:support@company.com">support@company.com</a></p>
                </div>
            </div>

            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About the company</span>
                    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                </p>

                <div class="footer-icons">
                    <a href="#"><i class="facebook"><img src="../../Img/facebook.svg" /></i></a>
                    <a href="#"><i class="linkedin"><img src="../../Img/linkedin.svg" /></i></a>
                    <a href="#"><i class="insta"><img src="../../Img/insta.svg" /></i></a>
                </div>
            </div>
        </footer>
</body>
</html>